<nav class="position-relative custome-navbar w-100">
    <div class="position-absolute container-logo">
        <img src="../../assets/Logo.svg" class="img-fluid" alt="Logo Sufi">
    </div>
    <button class="position-absolute button-logOut" (click)="onClick()">
        @if(showText){
            <span class="text-logOut">Cerrar Sesión</span>
        }
        <span class="logo-logOut"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAhElEQVR4nO3VsQ2CYBCG4cdCEqmgpaK0oWcKt3ALB3AdxnEKsbHVkFD8DWrBKRrf5Kvfy93ljj/BZCiT5HMLOtySXLGZU7BOqq9HSSGIYvGCCttIwQ492ijBwB7nCclLghUOOD7ICRc0ixSEt+ijQ66i1/QZ3ynIoo9d985zXUY8HL/PHZUJLOELOm0aAAAAAElFTkSuQmCC"></span>
    </button>
</nav>
